# Cognito Configuration
COGNITO_USER_POOL_ID=eu-west-1_xxxxx
COGNITO_CLIENT_ID=xxxxx
COGNITO_REGION=eu-west-1

# Stripe Configuration
STRIPE_SECRET_KEY=sk_test_xxxxx
STRIPE_WEBHOOK_SECRET=whsec_xxxxx
STRIPE_PRICE_ID=price_1SOpLt2E4Pf8JclVHxFAvMeE

# CORS Configuration
CORS_ORIGIN=http://localhost:3000
